[build-system]
requires = [
    "hatchling",
    "hatch-gradle-version>=0.8.0",
]
build-backend = "hatchling.build"

[project]
name = "{{ plugin_name }}"
dynamic = ["version", "dependencies", "optional-dependencies"]
description = "hexdoc plugin for {{ mod_display_name }}'s web book."
readme = "{{ plugin_root }}/README.md"
authors = [
    { name="{{ author }}" },
]
keywords = [
    "hexdoc",
]
requires-python = ">=3.11"

[project.urls]
Homepage = "{{ base_book_url }}"
Source = "https://github.com/{{ author }}/{{ github_repo }}"

[tool.hatch.metadata.hooks.gradle-properties]
dependencies = [
    "hexdoc~=1!0.1.0a24",
    { package="hexdoc-minecraft", op="~=", py-version="1.0.dev", key="{{ gradle_minecraft_version_key }}" },
]

[tool.hatch.metadata.hooks.gradle-properties.optional-dependencies]
dev = [
    "ruff~=0.11.2",
]

[tool.hatch.version]
scheme = "gradle"
source = "gradle-properties"
py-path = "{{ plugin_root_with_slash }}src/{{ plugin_slug }}/__version__.py"
key = "{{ gradle_mod_version_key }}"

[project.entry-points.hexdoc]
{{ modid }} = "{{ plugin_slug }}._hooks:{{ plugin_pluggy_classname }}"

[tool.hatch.build]
only-include = [
    "{{ plugin_root_with_slash }}src",
    "gradle.properties",
]
artifacts = [
    "/{{ plugin_root_with_slash }}src/{{ plugin_slug }}/_export/generated",
    "/{{ plugin_root_with_slash }}src/{{ plugin_slug }}/__gradle_version__.py",
]

[tool.hatch.build.targets.wheel]
sources = ["{{ plugin_root_with_slash }}src"]

[tool.pyright]
pythonVersion = "3.11"
pythonPlatform = "All"

include = ["{{ plugin_root_with_slash }}src"]
extraPaths = ["{{ plugin_root_with_slash }}src"]

typeCheckingMode = "basic"

strictDictionaryInference = true
strictListInference = true
strictSetInference = true

reportAssertAlwaysTrue = "error"
reportConstantRedefinition = "error"
reportDeprecated = "error"
reportDuplicateImport = "error"
reportFunctionMemberAccess = "error"
reportIncompatibleMethodOverride = "error"
reportIncompatibleVariableOverride = "error"
reportIncompleteStub = "error"
reportInconsistentConstructor = "error"
reportInvalidStringEscapeSequence = "error"
reportInvalidStubStatement = "error"
reportInvalidTypeVarUse = "error"
reportMatchNotExhaustive = "error"
reportMissingParameterType = "error"
reportMissingTypeStubs = "error"
reportOverlappingOverload = "error"
reportSelfClsParameterName = "error"
reportTypeCommentUsage = "error"
reportUnknownParameterType = "error"
reportUnnecessaryCast = "error"
reportUnnecessaryContains = "error"
reportUnsupportedDunderAll = "error"
reportUntypedBaseClass = "error"
reportUntypedClassDecorator = "error"
reportUntypedFunctionDecorator = "error"
reportUntypedNamedTuple = "error"
reportWildcardImportFromLibrary = "error"

reportMissingTypeArgument = "warning"
reportPrivateUsage = "warning"
reportUnknownArgumentType = "warning"
reportUnknownLambdaType = "warning"
reportUnknownMemberType = "warning"
reportUnknownVariableType = "warning"
reportUnnecessaryComparison = "warning"
reportUnnecessaryIsInstance = "warning"
reportUnusedClass = "warning"
reportUnusedExpression = "warning"
reportUnusedFunction = "warning"
reportUnusedImport = "warning"
reportUnusedVariable = "warning"
