{% raw %}{% extends "pages/patchouli/text.html.jinja" %}

{% block inner_body %}
  This is the template for rendering the <tt>{% endraw %}{{ modid }}{% raw %}:example</tt> page type.
  <b>{{ example_value }}</b>
  {{ super() }}
{% endblock %}{% endraw %}
