from hexdoc.patchouli.page import PageWithTitle


class ExamplePage(PageWithTitle, type="{{ modid }}:example"):
    """This is the Pydantic model for the `{{ modid }}:example` page type."""

    example_value: str
